[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
certifi = "*"
chardet = "*"
click = "*"
django = "*"
django-appconf = "*"
django-crispy-forms = "*"
django-haystack = "*"
django-imagekit = "*"
django-js-asset = "*"
django-mdeditor = "*"
django-model-utils = "*"
django-mptt = "*"
django-notifications-hq = "*"
django-pure-pagination = "*"
django-sidebar = "*"
emoji = "*"
faker = "*"
future = "*"
idna = "*"
joblib = "*"
jsonfield = "*"
livereload = "*"
lunr = "*"
markdown-markup-emoji = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
nltk = "*"
pilkit = "*"
pycodestyle = "*"
pymdown-extensions = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
regex = "*"
requests = "*"
six = "*"
sqlparse = "*"
swapper = "*"
text-unidecode = "*"
toml = "*"
tornado = "*"
tqdm = "*"
urllib3 = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
gunicorn = "*"
pipenv = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.9"
