{% extends "base.html" %} 
{%load blog_extras%}
{% block main %}
<div class="container" style="margin: 6% 20%;opacity:0.7;">
    <div class="row">
        <div class="col-6">
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <!-- phone -->
                {% if user.profile.img %}
                <div style="color:#E0FFFF">头像</div>
                <img src="{{ user.profile.img.url }}" style="max-width: 40%; border-radius: 35%;">
                {% else %}
                <h5 class=" text-center"style="color:#E0FFFF">暂无头像</h5>
                {% endif %}
                <div class="form-group">
                    <span><label for="img"style="color:#E0FFFF">上传头像</label></span>
                    <span><input type="file" class="form-control-file" style="color:#E0FFFF" id="img" name="img"></span>
                </div>
                <div class="form-group">
                    <label for="phone" style="color:#E0FFFF">电话</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ user.profile.phone }} ">
                </div>
                <!-- bio -->
                <div class="form-group ">
                    <label for="email" style="color:#E0FFFF">邮箱</label>
                    <textarea type="text" class="form-control" id="email" name="email">{{ user.profile.email }}</textarea>
                </div>
                <div class="form-group">
                    <label for="bio" style="color:#E0FFFF">简介</label>
                    <textarea type="text" class="form-control" id="bio" name="bio" rows="12">{{ user.profile.bio }}</textarea>
                </div>
                <!-- 提交按钮 -->
                <button type="submit"><i class="fas fa-check" style="color:#E0FFFF;opacity:0.0;"></i></button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}

{% block toc %}
{%show_recent_posts%}
{%show_archives%}
{%show_categories%}
{%show_tags%}
{% endblock toc %}

{% block toc_hidden %}
{%show_recent_posts%}
{%show_archives%}
{%show_categories%}
{%show_tags%}
{% endblock toc_hidden %}